<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nocrap</title>
</head>
<body>
    <div class="title">
      <div>NoCrap</div>
      <div>Tired of long and boring texts? Paste away and watch magic happen.</div>
    </div>
    
    <div class = "container">
      <textarea id="userInput" placeholder="Paste away..."></textarea>
      <div id="output">Output will appear here</div>
    </div>

</body>
</html>
