<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nocrap</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css')}}>
</head>
<body>
    <div class="title">
      <div>NoCrap</div>
      <div>Tired of long and boring texts? Paste away and watch magic happen.</div>
    </div>
    
    <div class = "container">
      <form method="POST">
        <textarea name="input" id="userInput" placeholder="Paste away..."></textarea>
        <br>
        <button type="submit">Submit</button>
      </form>

      <div id="output">{{output}}</div>
    </div>

</body>
</html>
